// ___________________________________________________________________
// Mixins
// ___________________________________________________________________

@use 'sass:math';

@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

// Size
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Text
@mixin text($size, $weight: null, $color: null) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
