// ___________________________________________________________________
// Containers
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-inline: 1.5rem;

  @media #{$brkpoint-lg} {
    padding-inline: 0;
  }
}
