// ___________________________________________________________________
// Footer Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.attribution {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;

  a:hover {
    background: $dark-toggle;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: contrast(150%);
  }
}
